body{
        background-color: #b8b8b8;
         font-size: 13px;
         line-height: 18px;
         color: #333;
}

.content{
         width: 800px;
         height: 1150px;
         padding: 20px 30px;
         background-color: #fff;
         margin: 0 auto;
}

.h1{
            font-size: 26px;
            line-height: 30px;
            color: #333;
            margin: 20px 0 10px 0;
            font-weight: normal;
}

.h2{
            font-size: 26px;
             line-height: 36px;
             color: #333;
             font-weight: normal;
             font-style: italic;
            margin: 40px 0px 20px 0px;
}

.fixed {
        margin-left: 840px;
        top: 20px;
        right: 0px;
        width: 200px;
        padding: 20px 20px;
        font-style: italic;
        background-color: #666;
        color: #fff;
 }

 .puzzle{
     position: relative;
     width: 635px;
     height: 476px;
     background:  url("v2-watercolor.jpg");
     background-repeat: no-repeat;
     background-position: 0 0;
     border: 5px solid #333;
     margin: 0 auto;
     margin-bottom: 100px;

}


#puzzle img {
  position: absolute;
}

#puzzle #img1 {
  top: 0px;
  left: 0px;
}

#puzzle #img2 {
  top: 0px;
  left: 123px;
}

#puzzle #img3 {
  top: 0px;
  left: 210px;
}

#puzzle #img4 {
  top: 0px;
  left: 385px;
}

#puzzle #img5 {
  top: 0px;
  left: 465px;
}

#puzzle #img6 {
  top: 91px;
  right: 616px;
  transform: rotate(-32deg);
}

#puzzle #img7 {
  top: 112px;
  left: 89px;
}

#puzzle #img8 {
  top: 80.4px;
  right: 245px;
}

#puzzle #img9 {
  top: 124px;
  left: 344px;
}

#puzzle #img10 {
  top: 85px;
  left: 500px;
}

#puzzle #img11 {
  top: 238px;
  left: 0px;
}

#puzzle #img12 {
  top: 198px;
  left: 124px;
}

#puzzle #img13 {
  top: 233px;
  left: 210px;
}

#puzzle #img14 {
  top: 199px;
  left: 375px;
}

#puzzle #img15 {
  top: 237px;
  left: 464px;
}

#puzzle #img16 {
  top: 313px;
  left: 0px;
}

#puzzle #img17 {
  top: 349px;
  left: 89px;
}

#puzzle #img18 {
  top: 323px;
  left: 249px;
}

#puzzle #img19 {
  top: 359px;
  left: 336px;
}

#puzzle #img20 {
  top: 417px;
  left: 556px;
  transform: rotate(-20deg);
}
